  body{
    /*background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));*/
    background-image: url("./image/alps-g45e20d886_1920.jpg");
  }
  header h1{
    text-align: center;
    margin-top: 5px;
    color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    /*font-family: 'Audiowide', cursive;*/
    font-size: 50pt;
    margin-bottom: 0px;
  }
  
  a{
      text-decoration: none;
      overflow: hidden;
      padding: 10px 20px 10px 20px;
      color: #fff;
      font-size: 16px;
      border-radius: 63px;
      background-color: rgba(33,150,243,1);
      transition: all 0.3s ease-out;
      z-index: 60;
      cursor: pointer;
      transform: skew(-0.03deg);
  }
  
  #information{
    position: fixed;
    left: 0px;
    width: 100%;
    height: 100%;
    /*background-color: hwb(203 62% 9%);*/
    width: 100%;
    height: 100%;
  }
  .box{   
    position: fixed;
    margin-top: 0px;
    /*background-color: hwb(203 62% 9%);*/
    border: 4px solid hwb(203 0% 49%);
    width: 150px;
    height: 150px;
    margin-inline:auto;
    border-radius: 20px;
  }
  .box img{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 60px;
  }
  .box h3{
    display: inline;
    margin-top: 6px;
    margin-left: 5px;
    margin-bottom: 0px;
    height: 50px;
    margin-bottom: 0px;
    font-size: 20px;
  }
  .box hr{
    margin: 9px 0px 0px 6px;
    width: 90%;
  }
  
  .box p{
    text-align: center;
    left: 0px;
    right: 0px; 
    margin-top: 25px;
    margin-left: auto; 
    margin-right:auto;
    font-size: 40px;
  }